{
  height: 100%;
  width: 100%;
}

.tieude {
  color: pink;
  background-color: red;
  text-align: center;
  padding: 100px;
}
.thucdon {
  color: black;
  background-color: pink;
  padding: 5px;
  display: block;
  float: left;
}
.thucdon a {
  color: pink;
}
.thucdon a :hover {
  color: black;
  background-color: yellow;
}
.noidung {
  color:pink; 
  background-color:blue 
}
